AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT="https://gtgh-09-26.openai.azure.com/"
OPENAI_API_VERSION="2024-12-01-preview"
AZURE_OPENAI_DEPLOYMENT_NAME="gpt-4.1-mini"
AZURE_EMBEDDING_ENDPOINT="https://gtgh-embed.openai.azure.com/openai/deployments/text-embedding-3-small/embeddings?api-version=2023-05-15"
AZURE_EMBEDDING_API_KEY=
AZURE_EMBEDDING_DEPLOYMENT="text-embedding-3-small"
AZURE_EMBEDDING_API_VERSION="2023-05-15"
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=http://localhost:3000
LANGFUSE_TRACING_ENABLED=true

